<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boots</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Boot Store</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/boots}">Boots</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="buffer"></div>
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/boots}">All Boots</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/boots/add}">Add a new Boot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" th:href="@{/boots/-1}">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" th:href="@{/boots/-1/edit}">Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" th:href="@{/boots/-1/delete}">Delete</a>
        </li>
    </ul>
</div>
<div class="buffer"></div>
<h1>All Boots</h1>
<div class="buffer"></div>
<table class="table table-hover align-middle">
    <thead>
    <tr>
        <th scope="col">Brand</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="boot: ${boots}" th:boot-id="${boot.id}" style="cursor: pointer" onclick="rowClicked(this.getAttribute('boot-id'))">
        <td th:text="${boot.brandName}"/>
        <td th:text="${boot.name}"/>
        <td th:text="${boot.description}"/>
        <td th:text="${boot.size}"/>
        <td>$ <span th:text="${#numbers.formatDecimal(boot.price, 0, 'COMMA', 2, 'POINT')}"></span></td>
        <td>
            <a th:href="@{'/boots/' + ${boot.id} + '/edit'}" class="btn btn-outline-info">Edit</a>
            &nbsp;&nbsp;
            <a th:href="@{'/boots/' + ${boot.id} + '/delete'}" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>

    </tbody>
</table>
<script>
    function rowClicked(id) {
        location.href = "/boots/" + id;
    }
</script>
</body>
</html>